<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htw.hostthewebsitenew">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_htw_final"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_htw_final_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.htw.hostthewebsitenew.BottomActivity"
            android:label="@string/title_activity_bottom"></activity>
        <activity android:name="com.htw.hostthewebsitenew.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>